# App #
#######
configs/*.js
themes/default/js/vendor/
themes/default/css/vendor/
themes/default/js/*.min.js
themes/default/css/*.min.css
.github
databases/
tests/
docs/
logs/
docker/
Dockerfile
Dockerfile.*
bot.js
.gitmodules
.jshintrc
.gitattributes
.eslintrc.json
.editorconfig
.pm2-process.json
.all-contributorsrc
.eslintcache