<!DOCTYPE html>
<html lang="{{ config.system.language }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% set page = {
		url: "/",
		title: translate.home,
		description: translate.home_description
	}
%}
{% include 'pages/commons/header.html' %}

<body id="yourprojectname" itemscope itemtype="http://schema.org/WebPage">
	{% include "pages/commons/menu.html" %}
	<div class="container">
		{% include "pages/content.html" %}
	</div>
	{% include "pages/commons/footer.html" %}
	<script defer src="{{ config.site.fullurl }}/js/full.min.js"></script>
	{% include "pages/commons/services.html" %}

</body>
</html>